.cupom {
    margin: auto;
    width: 400px;
    height: 120px;
    background: #e5c6a8;
    border-radius: 0 50px;
    display: flex;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    border: 2px dotted black;
    box-shadow: 3px 3px black;
  }
  
  .num {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  @media (max-width: 500px) {
    .cupom {
      width: 333px;
      font-size: 28px;
    }
  }